[submodule "plugins/kimmdy-hydrolysis"]
	path = plugins/kimmdy-hydrolysis
	url = https://github.com/graeter-group/kimmdy-hydrolysis.git
[submodule "plugins/HAT_reaction_plugin"]
	path = plugins/HAT_reaction_plugin
	url = https://github.com/graeter-group/HAT_reaction_plugin.git
[submodule "plugins/kimmdy-grappa"]
	path = plugins/kimmdy-grappa
	url = https://github.com/graeter-group/kimmdy-grappa.git
[submodule "plugins/kimmdy-reactions"]
	path = plugins/kimmdy-reactions
	url = https://github.com/graeter-group/kimmdy-reactions.git
[submodule "plugins/kimmdy-dimerization"]
	path = plugins/kimmdy-dimerization
	url = https://github.com/graeter-group/kimmdy-dimerization.git
