project:
  title: KIMMDY
  type: website
  output-dir: docs
  render:
    - index.qmd
    - _reference
    - guide


website:
  page-navigation: true
  site-url: http://hits-mbm-dev.github.io/kimmdy
  repo-url: https://github.com/hits-mbm-dev/kimmdy
  repo-actions: [edit, issue]
  reader-mode: true
  back-to-top-navigation: true
  navbar:
    background: light
    tools:
      - icon: github
        menu:
          - text: Source Code
            url:  https://github.com/hits-mbm-dev/kimmdy
          - text: Report a Bug
            url:  https://github.com/hits-mbm-dev/kimmdy/issues/new
    left:
      - file: ./guide/getting-started.qmd
        text: Getting Started 
      - file: ./guide/index.qmd
        text: Guide
      - file: _reference/index.qmd
        text: Reference
  sidebar:
    subtitle: "Reactive MD pipeline for GROMACS using Kinetic Monte Carlo / Molecular Dynamic"
    style: "docked"
    contents:
      - section: Guide
        contents: guide/**
      - section: Reference
        contents:
        - _reference/index.qmd
        - contents:
          - _reference/cmd.qmd
          section: API
        - contents:
          - _reference/topology.topology.qmd
          - _reference/topology.ff.qmd
          - _reference/topology.utils.qmd
          - _reference/topology.atomic.qmd
          section: Topology
        - contents:
          - _reference/changemanager.qmd
          - _reference/constants.qmd
          - _reference/coordinates.qmd
          - _reference/config.qmd
          - _reference/kmc.qmd
          - _reference/parsing.qmd
          - _reference/runmanager.qmd
          - _reference/tasks.qmd
          - _reference/recipe.qmd
          - _reference/plugins.qmd
          - _reference/analysis.qmd
          - _reference/utils.qmd
          - _reference/tools.qmd
          section: Modules
        - contents:
          - _reference/homolysis.reaction.Homolysis.qmd
          - _reference/hat_naive.reaction.NaiveHAT.qmd
          - _reference/dummyreaction.reaction.DummyReaction.qmd
          section: Reaction Plugins

# metadata-files:
#   - _sidebar.yml

execute:
  warning: false
  echo: true

format:
  html:
    toc: true
    toc-depth: 5
    mainfont: Roboto
    number-depth: 0
    theme:
      light:
      - default
      - www/theme.scss
      dark:
      - default
      - www/theme.scss
      - www/theme-dark.scss
    code-copy: true

filters:
  - interlinks

interlinks:
  sources:
    numpy:
      url: https://numpy.org/doc/stable/
    python:
      url: https://docs.python.org/3.10/

quartodoc:
  sidebar: "_sidebar.yml"
  renderer:
    style: _renderer.py
  title: "Reference"
  package: kimmdy
  style: pkgdown
  dir: _reference
  sections:
    - title: API
      desc: Start KIMMDY from a python script or the command line
      contents:
        - name: cmd
    - title: Topology
      desc: Topology modules
      contents:
        - name: topology.topology
        - name: topology.ff
        - name: topology.utils
        - name: topology.atomic
    - title: Modules
      desc: Modules
      contents:
        - name: analysis
        - name: changemanager
        - name: cmd
        - name: config
        - name: constants
        - name: coordinates
        - name: kmc
        - name: parsing
        - name: plugins
        - name: recipe
        - name: runmanager
        - name: schema
        - name: tasks
        - name: tools
        - name: utils
    - title: Reaction Plugins
      desc: Reaction plugins bundled with KIMMDY and the protocol to add a new reaction plugin to KIMMDY
      package: null
      contents:
        - homolysis.reaction.Homolysis
        - hat_naive.reaction.NaiveHAT
        - dummyreaction.reaction.DummyReaction


