project:
  type: website
  output-dir: docs
  render:
    - index.qmd
    - reference
    - guide/*.qmd


website:
  page-navigation: true
  site-url: http://hits-mbm-dev.github.io/kimmdy
  repo-url: https://github.com/hits-mbm-dev/kimmdy
  repo-actions: [edit, issue]
  reader-mode: true
  back-to-top-navigation: true
  navbar:
    background: light
    tools:
      - icon: house-fill
        href: https://www.h-its.org/research/mbm/
      - icon: github
        menu:
          - text: Source Code
            url:  https://github.com/hits-mbm-dev/kimmdy
          - text: Report a Bug
            url:  https://github.com/hits-mbm-dev/kimmdy/issues/new
    left:
      - file: index.qmd
        text: KIMMDY
      - file: ./guide/getting-started.qmd
        text: Getting Started 
      - file: ./guide/topology.qmd
        text: Development
      - file: reference/index.qmd
        text: Reference

# tell quarto to read the generated sidebar
metadata-files:
  - _sidebar.yml

execute:
  warning: false
  echo: true

format:
  html:
    toc: true
    mainfont: Roboto
    number-depth: 0
    theme:
      light:
      - default
      - www/theme.scss
      dark:
      - default
      - www/theme.scss
      - www/theme-dark.scss
    code-copy: true

filters:
  - interlinks

interlinks:
  sources:
    numpy:
      url: https://numpy.org/doc/stable/
    python:
      url: https://docs.python.org/3/


quartodoc:
  package: kimmdy
  sidebar: _sidebar.yml
  style: pkgdown
  dir: reference
  version: 2.0.1 # TODO

  sections:
    - title: API
      desc: Start KIMMDY from a python script or the command line
      contents:
        - name: cmd
          children: flat
    - title: Modules
      desc: Modules
      contents:
        - name: changemanager
        - name: config
        - name: constants
        - name: coordinates
        - name: kmc
        - name: misc_helper
        - name: parsing
        - name: reaction
        - name: runmanager
        - name: tasks
        - name: utils
        - name: topology.topology.Topology
          children: embedded
        - name: topology.ff
          children: embedded
        - name: topology.utils
          children: embedded
    - title: Other classes
      desc: TODO
      contents:
        - name: runmanager.RunManager
    - title: Topology
      desc: Topology classes
      contents:
        - name: topology.topology.Topology
        - name: topology.ff
        - name: topology.utils
    - title: Atomic types
      desc: Internal representations of topology and forcfield entities
      contents:
        - name: topology.atomic
        - name: topology.atomic.Atom
        - name: topology.atomic.AtomType
        - name: topology.atomic.Bond
        - name: topology.atomic.BondType
        - name: topology.atomic.PositionRestraint
        - name: topology.atomic.DihedralRestraint
        - name: topology.atomic.Pair
        - name: topology.atomic.Angle
        - name: topology.atomic.AngleType
        - name: topology.atomic.DihedralType
        - name: topology.atomic.ResidueAtomSpec
        - name: topology.atomic.ResidueBondSpec
        - name: topology.atomic.ResidueImproperSpec
        - name: topology.atomic.ResidueProperSpec
        - name: topology.atomic.ResidueType
    - title: Reactions
      desc: Reaction plugins bundled with KIMMDY
      contents:
        - name: reactions.homolysis


