pytest
tox
black
hypothesis
jupyter
git+https://github.com/machow/quartodoc.git   
pydantic<2
# git+ssh://git@github.com/hits-mbm-dev/grappa.git
# -e ./plugins/grappa_interface
-e .
-e ./plugins/default_reactions
