name: docs

on:
  workflow_call: {}
  workflow_dispatch: {}
  pull_request:
    branches: [ main ]
    types: [labeled]

permissions:
  contents: write

jobs:
  build-docs:
    if: github.event.label.name == 'docthis'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - uses: quarto-dev/quarto-actions/setup@v2
        with:
          version: "1.6.42"
      - name: Install dependencies
        run: |
          python -m pip install .[dev]
      - name: Build docs
        run: |
          make docs
      - name: Commit rendered docs
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore(docs): render docs"
          commit_user_name: "github-actions[bot]"
          commit_user_email: "github-actions[bot]@users.noreply.github.com"
          commit_author: "github-actions[bot] <github-actions[bot]@users.noreply.github.com>"
          file_pattern: "docs/ _inv/ _reference/ _freeze/"
          push_options: "--force"

