name: tests
on:
  workflow_call:
  workflow_dispatch:
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  test:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    container: riedmiki/gromacs-plumed-python:2023.5-plumed
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - name: Install the project
        run: uv sync --locked --all-extras --dev
      - name: Run tests
        run: uv run black src tests
      - name: Run tests
        run: uv run pytest -m "not slow" --durations=15 --cache-clear tests

      # - name: run tox
      #   run: tox
      # - name: zip coverage report
      #   if: ${{ !cancelled() }}
      #   run: zip -r htmlcov.zip htmlcov || true
      # - uses: actions/upload-artifact@v4
      #   if: ${{ !cancelled() }}
      #   with:
      #     name: coverage artifact
      #     path: htmlcov.zip
