name: test latest release
on:
  pull_request:
    branches: [ main ]
    types: [labeled]

jobs:
  lint:
    if:  startsWith(github.head_ref, 'release-please-') && github.event.label.name == 'testthis'
    uses: ./.github/workflows/lint.yml
  test-release:
    needs: lint
    runs-on: ubuntu-latest
    container: riedmiki/gromacs-plumed-python:2023.5-plumed
    steps:
      - uses: actions/checkout@v4
      - name: run tox
        run: tox
      - name: zip coverage report
        if: ${{ !cancelled() }}
        run: zip -r htmlcov.zip htmlcov || true
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: coverage artifact
          path: htmlcov.zip

